
  	
<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="reveal">
					<h1><a href="index.html">Cosa Nostra Famiglia</h1>
					<nav id="nav">
						<ul>
							<li><a href="rate">Ratings</a></li>
							<li>

								<a href="#" class="icon fa-angle-down">Menu</a>
								<ul>

									<li><a href="#">Option1</a></li>
									<li><a href="#">Option2</a></li>
									<li><a href="#">Option3</a></li>
									<li><a href="#">Option4</a><li>
								</ul>
							</li>
							
							<% if user_signed_in? %>

								<li> Hello, <%= current_user.email %> | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
								</li>
								
							<% else %>

								<li><a href="users/sign_in" class="button">Sign in</a></li>

							<% end %>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Cosa Nostra Famiglia</h2>
					<p>First teenagers Mafia Club in Kazakhstan</p>
					<ul class="actions">
						<li><a href="#" class="button special">Вы Айгуля?</a></li>
						<li><a href="#" class="button">Еще кнопка</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>
							<br />
							Cosa Nostra CLub</h2>
							<p><br />
								Мы первый подростковый клуб в Казахстане по интеллекутальной игре мафия!

							</p>
						</header>
						<span class="image featured"><%=image_tag("ff9aj_nQ2VA.jpg")%></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="image featured"><%=image_tag("Aygulya.jpg")%></span>
								<h3>Наша ведущая, и глава клуба!</h3>
								<p>Айгуля Буланбаева</p>
							</section>
							<section>
								<span class="image featured"><%=image_tag("Roma.jpg")%></span>
								<h3>Роман, или просто Царь</h3>
								<p>Доверенное лицо)))</p>
							</section>
						</div>

					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
						 		<span class="image featured"><%=image_tag("T68t1uMosf8.jpg")%></span>
								<h3>Как мы поиграли в это воскресенье</h3>
								<p>В это воскресенье мы играли в уютном заведении Just Cafe(нам заплатили миллион за эту рекламу)</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Узнать больше</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%=image_tag("u-8jmgmekxs.png")%></span>
								<h3>101 тактика от Bking</h3>
								<p>Зачем вскрываться за шерифа, если...</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Узнать больше</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Вы здесь впервые?</h2>
					<p>Хотите поиграть с нами в Мафию? Оставьте ваш Email адресс и мы вам напишем!</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Отправить" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Cosa Nostra Famiglia. All rights reserved.</li>
					</ul>
				</footer>

		</div>


